body {
	font-family: var(--ff-primary);
	font-weight: var((--fw-400));
	font-size: var(--fz-400);
	background-image: linear-gradient(135deg, var(--clr-neutral-100), var(--clr-neutral-200));
	overflow-x: hidden;
}

h1 {
	font-size: var(--fz-700);
}
