$breakpoints: (
	small: 38em,
	medium: 48em,
	large: 62em,
);

$colors: (
	primary: (
		200: hsl(0 80% 86%),
		300: hsl(0 74% 74%),
		400: hsl(0 36% 70%),
		700: hsl(0 93% 68%),
	),
	neutral: (
		100: hsl(0 0% 100%),
		200: hsl(0 100% 98%),
		700: hsl(0 6% 24%),
	),
);

$font-sizes: (
	small: (
		400: 1.6rem,
		700: 3.2rem,
	),
	medium: (
		700: 5rem,
	),
);

$font-weights: (
	300: 300,
	400: 400,
	700: 600,
);

$border-radius: (
	900: 100vmax,
);
