@use '../abstracts/mixins' as mxn;

.main-grid {
	display: grid;
	min-height: 100vh;
	grid-template-areas:
		'nav'
		'image'
		'content';
	@include mxn.mq(medium) {
		grid-template-areas:
			'nav image'
			'content image';
		grid-template-columns: 50% 50%;
		grid-template-rows: auto 1fr;
	}

	& [data-area='nav'] {
		grid-area: nav;
	}
	& [data-area='image'] {
		grid-area: image;
	}
	& [data-area='content'] {
		grid-area: content;
	}
}
